flask
configparser
mysqlclient
flask-login
#flask-openid
#flask-mail
flask-restful
SQLAlchemy
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
itsdangerous
Werkzeug
Jinja2
psutil
kafka-python
flask-mysql
flask_cors 
Flask-Table
Flask-HTTPAuth
MarkupSafe
passlib
pyshark
starbase
