{% extends "template.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block menu %}
  <div id="sidebar-wrapper" class="col-md-2 container" style="width:100%;">
    <div class="navbar-collapse collapse sidebar-navbar-collapse navbar-default">
      <ul class="nav navbar-nav" id="user-settings">
        <li class="active" id="info"><a href="/userprofile">Basic Info</a></li>
        <li id="alert"><a href="/alert-settings">Alerts</a></li>
        <li id="agent"><a href="/agent-settings">Agents</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
{% endblock %}

{% block content %}
  <div id="main-wrapper" class="col-md-10 pull-right">
    <div class="container center-block" style="margin-top:5px;padding-right:15%;display:block;">
      <!-- begin main content -->
      <form data-bind="submit: onSubmit('agent-settings')">
        <h3>Agent settings for <span data-bind="text: firstName"></span></h3><br>
        <p id="messagebox" data-bind="text : responseJSON"></p>
        <br>
        <div class="form-group">
          <label for="agentMode">Mode of operation</label>
          <input type="text" class="form-control" id="agentMode" data-bind="textInput: agentMode" />
          <label for="agentCmd">Command to execute</label>
          <input type="text" class="form-control" id="agentCmd" data-bind="textInput: agentCmd" />
          <label for="startTime">Agent start time</label>
          <input type="text" class="form-control" id="startTime" data-bind="textInput: startTime" />
          <label for="stopTime">Agent stop time</label>
          <input type="text" class="form-control" id="stopTime" data-bind="textInput: stopTime" />
          <label for="timesyncInterval">Intveral between time syncs</label>
          <input type="text" class="form-control" id="timesyncInterval" data-bind="textInput: timesyncInterval" />
          <label for="updateInterval">Intveral between agent updates</label>
          <input type="text" class="form-control" id="updateInterval" data-bind="textInput: updateInterval" />
          <label for="assetscanInterval">Intveral between asset scans</label>
          <input type="text" class="form-control" id="assetscanInterval" data-bind="textInput: assetscanInterval" />
        </div>
        <input type="submit" text="Save" value="Save" />
      </form>
    </div><!-- end main content  -->
  </div><!-- end of main-wrapper -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  
{% endblock %}