{% extends "template.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block navheader %}
  {{  super() }}
{% endblock %}

{% block menu %}
  <div class="container"> <!-- Begin of Site Dropdown -->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="sitedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Site Dropdown
        <span class="caret"></span>
        {% if selectedSite %}
          <span class="selected">{{ selectedSite }}</span>
        {% endif %}
      </button>
      <ul class="dropdown-menu" aria-labelledby="sitedropdown">
        {% for site in sites %}
          <li><a href="#">{{ site }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div> <!-- end of Site Dropdown -->
  <br>
{% endblock %}

{% block content %}
  <div class="container"><!-- threat panel -->
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Active Threats</div>
      <div class="panel-body">
        <p>Contains a list of all threats that have not been acknowledged and or assigned to an enginner for review.</p>
      </div>

      <!-- Table -->
      <table id="activeThreatsTable" class="table">
   	<thead>
		<th>Threat Level</th>
		<th>Incident Type</th>
		<th>Incident Source</th>
		<th>Incident Time</th>
		<th>Attack Method</th>
		<th>Source</th>
		<th>Destination</th>
        </thead>
      </table>
    </div>
</div> <!-- end of threat panel -->

<div class="container"><!-- asset discovery panel -->
  <div class="panel panel-default">
    <!-- Default panel contents -->
  <div class="panel-heading">Asset Discovery</div>
    <div class="panel-body">
      <p>Contains a list of all threats that have not been acknowledged and or assigned to an enginner for review.</p>
    </div>

    <!-- Table -->
    <table id="assetTable" class="table">
    <thead>
      <th>Hostname</th>
      <th>IP</th>
      <th>MAC</th>
      <th>OS</th>
      <th>Type</th>
    </thead>
    </table>
  </div>
</div><!-- end of asset discovery panel -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $('#activeThreatsTable').bootstrapTable({
    url: '{{ apiServer }}{{ threatsBySiteURI }}',
      columns: [{
                  field: 'id',
                  title: 'ID'
          }, {
                  field: 'threatlevel',
                  title: 'Threat Level'
          },
           {
                  field: 'time',
                  title: 'Time'
    },{
      field: 'type',
                  title: 'Type'
    },{
      field: 'sensor',
      title: 'Sensor'
    },{
      field: 'ip_src_addr',
      title: 'Source'
    },{
      field: 'ip_dst_addr',
      title: 'Destination'
    } ]
    });

    $('#assetTable').bootstrapTable({
    url: '{{ apiServer }}{{ assetURI }}',
    columns: [{
        field: 'assets:hostname',
        title: 'Hostname'
    }, {
      field: 'assets:ip',
      title: 'IP'
          }, {
      field: 'assets:mac',
      title: 'MAC'
    }, {
      field: 'assets:os',
      title: 'OS'
    }, {
      field: 'assets:type',
      title: 'Type'
    }
        ]
    });
  </script>
{% endblock %}