.title
  %h1
    Swagtastic UI Stat Pop out
  %h2
    Hover over each stat. Pure CSS...of course!
.ui
  .ui_box
    .ui_box__inner
      %h2
        Conversion Rate
      %p Lorem ipsum dolor sit amet
      .stat
        %span 58%
      .progress
        .progress_bar
      %p Lorem ipsum dolor sit amet. Some more super groovy information about this stat.
    .drop
      %p Take a closer look
      .arrow
  .ui_box
    .ui_box__inner
      %h2
        Sales By Type
      %p Lorem ipsum dolor sit amet
      .stat_left
        %ul
          %li
            Electical
          %li
            Clothing
          %li
            Entertainment
          %li
            Kitchen
      .progress_graph
        .progress_graph__bar--1
        .progress_graph__bar--2
        .progress_graph__bar--3
        .progress_graph__bar--4
      %p Lorem ipsum dolor sit amet. Some more super groovy information.
    .drop
      %p Take a closer look
      .arrow
  .ui_box
    .ui_box__inner
      %h2
        Total Sales
      %p Lorem ipsum dolor sit amet
      .stat
        %span $34,403.93
      .progress
        .progress_bar--two
      %p Lorem ipsum dolor sit amet. Some more super groovy information about this stat.
    .drop
      %p Take a closer look
      .arrow