/UserDict.pyc
/_abcoll.pyc
/_weakrefset.pyc
/abc.pyc
/codecs.pyc
/copy_reg.pyc
/fnmatch.pyc
/genericpath.pyc
/linecache.pyc
/locale.pyc
/os.pyc
/posixpath.pyc
/re.pyc
/site.pyc
/sre_compile.pyc
/sre_constants.pyc
/sre_parse.pyc
/stat.pyc
/types.pyc
/warnings.pyc
