flask
configparser
mysqlclient
flask-login
flask-openid
flask-mail
flask-restful
SQLAlchemy
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
flask-mysql
flask_cors 
flask-security
