flask
configparser
mysqlclient
flask-login
flask-openid
flask-mail
flask-restful
flask-sqlalchemy
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
flask-babel
guess_language
flipflop
coverage
itsdangerous
Werkzeug
Jinja2
psutil
kafka-python
flask-mysql
